#InputArea.ViewMode #editor {
  display: none;
}
#InputArea #displayArea {
  display: none;
}
#InputArea.ViewMode #displayArea {
  display: block;
}
#InputArea.ViewMode #SubmitButton {
  display: none;
}
#InputArea #EditButton {
  display: none;
}
#InputArea.ViewMode #EditButton {
  display: block;
}
.variable .name {
  color: green;
}
.line.semi {
  background: yellowgreen;
}
.active {
  background: yellow;
}
.contextual div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}

code.javascript {
  float: left;
}

del {
  background: #FFE6E6;
}

ins {
  background: #E6FFE6;
}

.nowrap {
  white-space: nowrap;
}
.line-number {
  margin-right: 5px;
  color: blue;
  border-right: 1px solid black;
  padding-right: 4px;
}
.numbers {
  float: left;
  white-space: normal;
}

#displayArea pre, #editor {
  height: 700px;
}

.CallExpression > .FunctionExpression > * {
  display: none;
}
.inline-call.CallExpression > .FunctionExpression > .BlockStatement {
  display: inline;
}

.IfStatement .consequent {
  opacity: .5;
}
.IfStatement .alternate {
  opacity: .5;
}
.IfStatement .selected.consequent {
  opacity: 1;
}
.IfStatement .selected.alternate {
  opacity: 1;
}
.IfStatement .IfStatement.consequent {
  opacity: 1;
}
.IfStatement .IfStatement.alternate {
  opacity: 1;
}
