<html>
  <head>
    <title>Experiment in debugging</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.1/styles/default.min.css">


    <link rel="stylesheet" href="./css.css">
  </head>
  <body>
    <div class="container">
      <h1>Swatter!</h1>
      <div class="alert alert-info" role="alert">
        Enter javascript code below and hit Submit to process your code. Once processed: loops can be dragged 
        through, you can click on function names in calls to expand the call, and you can hold down shift to 
        see variable values.
      </div>
      <input type="checkbox" id="colorVars" /> Color Variables
      <div id="InputArea" class="form-group">
        <div class="form-control" id="editor"></div>
        <div id="displayArea" class="javascript"></div>
        <div>
          <button id="SubmitButton" class="btn btn-default">Submit</button>
          <button id="EditButton" class="btn btn-default">Edit</button>
        </div>
      </div>
      <div id="variables"></div>
      <div id="detailDisplay"></div>
      <div id="templates">
        <script type="underscore/tpl" id="detailTemplate">
          <div class='name'><h3><%- name %></h3></div>
          <% _.each(variables, function(variable) { %>
            <div class='value javascript' data-line='<%- variable.zeroedLineNumber %>'><%= renderValue(variable.value) %></div>
            <% }); %>
          <div class='contextual'></div>
        </script>

        <script type="underscore/tpl" id="variableTemplate">
          <input type='text' id='variableFilter' value='<%- filterText %>'/>
          <% _.each(variables, function(value, name) { %>
            <div class='variable'>
              <pre><code><span class='name'><%- name %></span>: <span class='value'><%= renderValue(value, model.previous(name)) %></span></code></pre>
            </div>
          <% }); %>
        </script>

        <script type="underscore/tpl" id="codeTemplate">
          <pre class='code'>
            </div><code class='javascript'><%= code %></code>
          </pre> 
        </script>
      </div>
    </div>

    <!-- cdn stuff -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <!-- <script src="http://cdnjs.cloudflare.com/ajax/libs/require.js/2.1.14/require.js"></script> -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.1/highlight.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
    <!-- annoying but i dont want to write my own deep clone -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
    <script type="text/javascript">
      var lodash = _.noConflict();
    </script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/d3/3.4.11/d3.js" charset="utf-8"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/ace/1.1.3/ace.js" charset="utf-8"></script>
    <!-- end of cdn stuff -->

    <style id="CodeCSSView"></style>

    <script src="./node_modules/acorn/acorn.js"></script>
    <script src="./node_modules/acorn/util/walk.js"></script>
    <script src="./jsdiff.js"></script>

    <script src="./main.js"></script>
    <script src="./frontend.js"></script>
  </body>
</html>
